<div class="div-login-user">
  <!-- Login -->
  <div class="form-card">
    <h3>Login</h3>
    <form action="/login" method="POST">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Digite seu nome"
        required
      />

      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Digite sua senha"
        required
      />

      <input type="submit" value="Login" class="button" />
    </form>
  </div>

  <div class="vertical-rule"></div>

  <!-- Create Account -->
  <div class="form-card">
    <h3>Create Account</h3>
    <form action="/user" method="POST">
      <label for="nameUser">Name</label>
      <input
        type="text"
        name="name"
        id="nameUser"
        placeholder="Digite seu nome"
        required
      />
      <label for="lastname">Lastname</label>
      <input
        type="text"
        name="lastname"
        id="lastname"
        placeholder="Digite seu sobrenome"
        required
      />
      <label for="email">Email</label>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Digite seu email"
        required
      />
      <label for="newUsername">Username</label>
      <input
        type="text"
        id="newUsername"
        name="username"
        placeholder="Digite seu usuário"
        required
      />
      <label for="newPassword">Password</label>
      <input
        type="password"
        id="newPassword"
        name="password"
        placeholder="Digite uma senha"
        required
      />

      <input type="submit" value="Criar conta" class="button"/>
    </form>
  </div>
</div>