<div class="login">
  <h3>Login</h3>
  <label for="user">Username</label>
  <form action="user/login" method="post">
    <input type="text" value="username" />
  </form>
  <label for="password">Password</label>
  <form action="user/login" method="post">
    <input type="password" value="password" />
  </form>
  <button type="submit">Login</button>
</div>

<div class="create-user">

</div>