<form action="/user/image" method="post">
    <input type="file" name="uploadImage" accept="image/*" class="input-uploadImage">
    <button type="button" class="button-uploadImage">Change Photo</button>
</form>