<form action="/upload-image" method="POST" enctype="multipart/form-data">
    <label for="imageUpload">Selecione sua imagem:</label>
    <input type="file" id="imageUpload" name="userImage" accept="image/*">
    <br>
    <button type="submit">Enviar Imagem</button>
</form>