body {
  background-color: #fffafa;
  margin: 0px;
  padding: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.pages{
  position: absolute;
  left: 45%;
}

.pages a {
  margin: 20px;
  color: 393D3F;
  text-decoration: none;
}

.dark-light-button {
  border: 0;
  border-radius: 5px;
  padding: 10px;
  background-color: E8EDF2;
}

.dark-light-button:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

.user-button{
    border: 0;
    background-color: E8EDF2;
    padding: 10px;
    border-radius: 50%;

}

.button-and-user{
  display: flex;
  gap: 30px;
  margin-right: 2%;
}