<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thoughts</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="" alt="">
        </div>
        <div class="pages">
            <a href="">Home</a>
            <a href="">Your Thoughts</a>
        </div>
        <div>
            <button class="theme-colors" ></button>
        </div>
    </nav>
    {{{body}}}
</body>
</html>